* {
  font-family: sans-serif;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 74vh;
  gap: 55px;
  border: 2px solid red;
}
.button-container {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn-primary {
  background-color: bisque;
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #f0c27b;
  transform: translateY(-2px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-input {
  font-size: clamp(2rem, 15vw, 240px); 
  color: white;
  width: 270px;
  text-align: center;
  font-weight: bold;
  border: none;
  background: transparent;
  outline: none;
  appearance: textfield; /* remove number input arrows if you use type=number */
}

.separator {
  font-size: clamp(2rem, 14vw, 240px); /* scales smoothly */
  font-weight: bold;
  color: white;
}