.stopWatch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75vh;
  gap: 55px;
}
.button-container {
  width: 100%;
  display: flex;
  gap: 20px; /* space between buttons */
  justify-content: center; /* optional: center align */
}

.btn-primary {
  background-color: bisque;
  padding: 15px 25px;
  font-family: sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #f0c27b;
  transform: translateY(-2px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

h1 {
  font-size: clamp(2rem, 15vw, 240px);
  font-family: sans-serif;
  color: white;
  width: 100%;
  text-align: center;
  margin: 0;
}